APP_NAME="Benjamin Crozat"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=redis
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=eu-west-3
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

ALGOLIA_APP_ID=HJB31QZQS0
ALGOLIA_SECRET=

DO_SPACES_ACCESS_KEY_ID=
DO_SPACES_SECRET_ACCESS_KEY=
DO_SPACES_DEFAULT_REGION=fra1
DO_SPACES_BUCKET=life-long-bunny
DO_SPACES_USE_PATH_STYLE_ENDPOINT=false
DO_SPACES_ENDPOINT="https://${DO_SPACES_DEFAULT_REGION}.digitaloceanspaces.com"

FILAMENT_FILESYSTEM_DISK=filament

LEMONSQUEEZY_JOB_OFFER_CHECKOUT_LINK=
LEMONSQUEEZY_MONTHLY_SPONSORSHIP_CHECKOUT_LINK=
LEMONSQUEEZY_YEARLY_SPONSORSHIP_CHECKOUT_LINK=
LEMONSQUEEZY_SPONSORED_CONTENT_CHECKOUT_LINK=
LEMONSQUEEZY_MONTHLY_ONE_TIME_SPONSORSHIP_CHECKOUT_LINK=
LEMONSQUEEZY_MONTHLY_SUPERHERO_SPONSORSHIP_CHECKOUT_LINK=
LEMONSQUEEZY_MONTHLY_DEMIGOD_SPONSORSHIP_CHECKOUT_LINK=

MEDIA_DISK=media-library

OPENAI_API_KEY=

PINT_EXPRESS_PHP_BINARY=

PIRSCH_ACCESS_KEY=
PIRSCH_CLIENT_ID=
PIRSCH_CLIENT_SECRET=
PIRSCH_DOMAIN_ID=eVa9BzvgqN

SCOUT_PREFIX="${APP_ENV}_"
SCOUT_DRIVER=algolia
SCOUT_QUEUE=false

SENTRY_LARAVEL_DSN=

TORCHLIGHT_TOKEN=
