.DS_Store
.env
.env.backup
.php-cs-fixer.cache
.phpunit.result.cache
*.log
/.idea
/.vscode
/node_modules
/public/css
/public/hot
/public/js
/public/mix-manifest.json
/public/phpunit.xml
/public/storage
/storage/*.key
/vendor
docker-compose.override.yml
Homestead.json
Homestead.yaml
