.DS_Store
.env
.env.backup
.php-cs-fixer.cache
.phpunit.result.cache
*.log
/.idea
/.vscode
/node_modules
/public/build
/public/css
/public/hot
/public/js
/public/storage
/storage/*.key
/vendor
phpunit.xml
