<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
    executionOrder="random"
>
    <testsuite name="Feature">
        <directory suffix="Test.php">tests/Feature</directory>
    </testsuite>

    <source>
        <include>
            <directory suffix=".php">app</directory>
        </include>
    </source>

    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="redis"/>
        <!-- <env name="DB_CONNECTION" value="sqlite"/> -->
        <env name="DB_DATABASE" value="benjamincrozat_test"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="SCOUT_DRIVER" value="null"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="FILAMENT_FILESYSTEM_DISK" value="local"/>
        <env name="MEDIA_DISK" value="local"/>
        <env name="ALGOLIA_APP_ID" value="null"/>
        <env name="ALGOLIA_SECRET" value="null"/>
    </php>
</phpunit>
