@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    @apply hidden;
}

pre[class*="language-"]::selection {
    background: hsl(0, 0%, 100%)
}

pre[class*="language-"]::selection {
    background: hsl(0, 0%, 100%)
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
    background: hsl(0, 0%, 100%)
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
    background: hsl(0, 0%, 100%)
}
